<%= form_for(@reward) do |f| %>
  <% if @reward.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@reward.errors.count, "error") %> prohibited this reward from being saved:</h2>

      <ul>
      <% @reward.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :card_id %><br />
    <%= f.collection_select :card_id, Card.all, :id, :name %>
  </div>
  <div class="field">
    <%= f.label :start_period %><br />
    <%= f.date_select :start_period %>
  </div>
  <div class="field">
    <%= f.label :end_period %><br />
    <%= f.date_select :end_period %>
  </div>
  <div class="field">
    <%= f.label :reward_rate %><br />
    <%= f.text_field :reward_rate %>
  </div>
  <div class="field">
    <%= f.label :reward_limit %><br />
    <%= f.number_field :reward_limit %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
